APP_PORT=
DATA_ENCRYPTION_KEY=
DATABASE_URL=
FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=
FACEBOOK_CALLBACK_URL=
FRONTEND_URL=
GEMINI_API_KEY=
GOOGLE_CALLBACK_URL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
SESSION_SECRET=