APP_PORT=
APP_URL=
AUTHORIZED_EMAIL=
VITE_AUTHORIZED_EMAIL=
SUPPORT_EMAIL=
DATABASE_URL=
DATABASE_SSL=
DATA_ENCRYPTION_KEY=
FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=
FACEBOOK_CALLBACK_URL=
FRONTEND_URL=
GEMINI_API_KEY=
GOOGLE_CALLBACK_URL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
SESSION_SECRET=
COOKIE_SECURE=